.footer {
  padding-top: $gap * 3;

  color: darken($color-light, 1.5%);
  background-color: $color-dark;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

.row {
  margin-right: -$gap;
  margin-left: -$gap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;

  @include lg-min {
    width: 1170px;
  }
  @include md-min {
    width: 970px;
  }
  @include sm-min {
    width: 750px;
  }
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  ul {
    padding: 0;

    list-style: none;
  }

  a {
    color: lighten($color-dark, 33%);
    &:hover {
      color: $color-light;
    }
  }

  &-fifth {
    margin: 20px 0;

    text-align: center;

    a {
      color: darken($color-light, 1.5%);
    }
  }
}
