.header {
  margin-bottom: 80.0px;
}

.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.navbar {
  margin-bottom: 0;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  letter-spacing: 0.33em;
  margin-right: -0.28em;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}
